networks:
  saas_network:
    external: true

volumes:
  prometheus-data: {}
  grafana-data: {}

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - 3000:3000
    restart: unless-stopped
    environment:
      # Admin credentials
      - GF_SECURITY_ADMIN_USER=${GF_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GF_PASSWORD}
      # URL path to Grafana
      - GF_SERVER_ROOT_URL=${GF_URL}
      # Domain
      - GF_SERVER_DOMAIN=${GF_DOMAIN}
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana/provisioning/dashboards/nodeFull.json:/var/lib/grafana/dashboards/nodeFull.json
      - ./grafana/provisioning/dashboards/nodeSimple.json:/var/lib/grafana/dashboards/nodeSimple.json
    networks:
      - saas_network

  prometheus:
    image: prom/prometheus:v2.43.0
    container_name: prometheus
    command:
      - --web.external-url=/prometheus
    ports:
      #- 127.0.0.1:9090:9090 #Restricted to localhost
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml
      - prometheus-data:/prometheus
    networks:
      - saas_network

  node_exporter:
    image: quay.io/prometheus/node-exporter:v1.8.2
    container_name: node_exporter
    ports:
      #- 127.0.0.1:9100:9100 #Restricted to localhost
      - 9100:9100

    command:
      - "--path.rootfs=/host"
    restart: unless-stopped
    volumes:
      - "/:/host:ro,rslave"
    networks:
      - saas_network
